{% extends 'admin/adminindex1.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/edit_employe_post/{{ data.id }}" method="post" enctype="multipart/form-data" >
<table width="200" border="1" class="table table-bordered">
{% csrf_token %}
  <tr>
    <th scope="row">Name</th>
    <td><label for="textfield6"></label>
      <input type="text" name="textfield" id="textfield6" value="{{ data.E_name }}"/></td>
  </tr>
  <tr>
    <th scope="row">Image</th>
   <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" /><img src="{{ data.E_image }}" alt="" height="30px" width="30px"/></td>
  </tr>
  <tr>
    <th scope="row">Phone No.</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield3" id="textfield" value="{{ data.E_phn }}" /></td>
  </tr>
    <tr>
    <th scope="row">Gender</th>
    <td><p>
      <label>
        <input type="radio" name="RadioGroup1" value="male" {% if data.gender == 'male' %} checked{% endif %} id="RadioGroup1_0" />
        Male</label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="female" {% if data.gender == 'female' %} checked{% endif %} id="RadioGroup1_1" />
        Female</label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="other" {% if data.gender == 'other' %} checked{% endif %} id="RadioGroup1_2" />
        Other</label>
      <br />
    </p></td>
  </tr>
  <tr>
    <th scope="row">Address</th>
    <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5">{{ data.E_address }}</textarea></td>
  </tr>
  <tr>
    <th scope="row">E -Mail</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield4" id="textfield2" value="{{ data.E_email }}" /></td>
  </tr>

  <tr>
    <td align="center" colspan="2" scope="row"><input type="submit" name="button" id="button" value="Update" /></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}